* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

:root {
    --primary-display-BGcolor: #22252d;
    --primary-background-BGcolor: #292d36;
    --primary-btn-BGcolor: #272b33;
    --primary-btnText-1color: #26eac6;
    --primary-btnText-2color: #d45f5f;
    --primary-btnText-numColor: white;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    @include flex;
    height: 100vh;
    color: var(--primary-btnText-numColor); // Korrigerad referens

    .calculator {
        @include flex;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        flex-direction: column;
        background-color: var(--primary-display-BGcolor); // Korrigerad referens
        height: 90%;
        width: 20rem;
        border-radius: 2rem;

        .upper {
            @include flex;
            flex-direction: column;
            height: 40%;
            width: 100%;
            padding: 2rem;
            box-sizing: border-box;

            .theme {
                @include flex;
                height: 40%;
                width: 100%;

                .theme-card {
                    @include flex;
                    justify-content: space-between;
                    border-radius: 1rem;
                    width: 40%;
                    box-sizing: border-box;
                    padding: 0.75rem 1rem;
                    background-color: var(--primary-background-BGcolor); // Korrigerad referens

                    img {
                        width: 1.25rem;
                        cursor: pointer;
                    }

                    .opacity {
                         opacity: 30%;
                    }
                }
            }

            .mathDisplay {
                @include flex;
                justify-content: right;
                align-items: end;
                height: 30%;
                width: 100%;

                p {
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }

            .resultDisplay {
                @include flex;
                align-items: end;
                flex-direction: row;
                justify-content: right;
                height: 30%;
                width: 100%;

                p {
                    font-size: 2.5rem;
                }
            }
        }

        .lower {
            background-color: var(--primary-background-BGcolor); // Korrigerad referens
            height: 60%;
            width: 100%;
            border-radius: 2rem;
            padding: 2rem;
            box-sizing: border-box;

            .lower-gridArea {
                display: grid;
                text-align: center;
                align-items: center;
                width: 100%;
                height: 100%;
                grid-template-areas:
                    'C D E F'
                    'G H I J'
                    'K L M N'
                    'O P Q R'
                    'S T U U';

                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(5, 1fr);
                gap: 10px;

                button {
                    border: none;
                    color: var(--primary-btnText-numColor); // Korrigerad referens
                    background-color: var(--primary-btn-BGcolor); // Korrigerad referens
                    padding: 1rem;
                    border-radius: 1rem;
                    font-size: 1.25rem;
                    cursor: pointer;
                }

                .greenNumber {
                    color: var(--primary-btnText-1color); // Korrigerad referens
                }

                .oNumber {
                    color: var(--primary-btnText-2color); // Korrigerad referens
                }

                .equal {
                    grid-area: U;
                }
            }
        }
    }

    &.light-mode {
        --primary-display-BGcolor: #f0f0f0;          // Mörkare nyans
        --primary-background-BGcolor:#e0e0e0 ;       // Mörkare nyans
        --primary-btn-BGcolor: #e6e6e6;               // Mörkare nyans
        --primary-btnText-1color: #26eac6;           // Mörkare nyans
        --primary-btnText-2color: #d45f5f;            // Oförändrad
        --primary-btnText-numColor: black;
    }
}

